.tastyText {
  position: absolute;
  width: 495px;
  height: 311px;
  left: 115px;
  top: 120px;
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 336px;

  color: #ffa114;
}

.tastyBody {
  position: absolute;
  width: 641px;
  height: 84px;
  left: 140px;
  top: 385px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 67px;
  font-variant: small-caps;
  color: #ffffff;
}

.menuButton {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  height: 100px;
  top: 480px;
  border: 5px solid #ffa114;
  box-sizing: border-box;
  border-radius: 10px;
  position: absolute;
  width: 245px;
  left: 130px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 67px;
  font-variant: small-caps;
  color: #ffa114;
}

.contactButton {
  position: absolute;
  width: 245px;
  height: 100px;
  left: 400px;
  top: 480px;
  background: #ffa114;
  border-radius: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 67px;
  font-variant: small-caps;
  color: #000000;
}

div.homepage {
  background: url("../assets/homeImage.png") no-repeat center center fixed;
  height: 100vh;
}
