.tastyText {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 296px;
  color: #ffa114;
  margin-left: 15px;
}

.tastyBody {
  height: 84px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 67px;
  font-variant: small-caps;
  color: #ffffff;
  margin-left: 15px;
}

.menuButton {
  background-color: rgba(255, 255, 255, 0);
  border: 5px solid #ffa114;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 67px;
  font-variant: small-caps;
  color: #ffa114;
  margin-right: 15px;
  margin-left: 15px;
}

.contactButton {
  background: #ffa114;
  border-radius: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 67px;
  font-variant: small-caps;
  color: #000000;
}

div.homepage {
  background: url("../assets/homeImage.png") no-repeat center center fixed;
  height: 100vh;
}
@media{
  .homepage {
    width: 100%;
  }
  .tastyText {
    font-family: 'Sacramento';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 296px;
    color: #ffa114;
    margin-left: 15px;
  }
  
  .tastyBody {
    margin-left: 15px;
  }
  
  .menuButton {
    margin-left: 15px;
  }
  
  .contactButton {
    margin-left: 15px;
  }
}
