<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.navbar {
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    position: sticky;
    top: 0;
    z-index: 20;
    font-family: 'Sacramento', cursive;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .nav-logo {
    color: #f5b921;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
=======
.header{
    height: 90px;
    padding: 0 40px;
    background: rgba(0, 0, 0, 0.5);
}
.logo{
    float: left;
    cursor: pointer;
    font-weight: bold;
    font-size: 40px;
    color: #FFA114;
    line-height: 85px;
    font-family: 'Sacramento', cursive;
    letter-spacing: 5px;
}
.menu{
    float: right;
    padding-top: 10px;
    line-height: 70px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.na{
    margin-right: 15px;
}
na:last-child{
    margin-right: 0;
}
.menu-item{
    text-decoration: none;
    color: white;
    font-size:23px;
    font-weight: 550;
    margin-right:25px;
}
.menu-item:hover{
    color:  #FFA114;
}
.menu-item:last-child{
    margin-right:0;
}
.show{
    float: right;
    line-height: 70px;
}
.show, .hide{
    font-size: 20px;
    font-weight: bold;
    color: white;
>>>>>>> 6dd3ab921d7aeebc46853ef787157e9b4b695a94
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #030c0d;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  }
  