
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Sacramento&display=swap');


p{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.pro-header{
    font-family: 'Sacramento', cursive;
    padding-top: 1em;
    color: #FFA114;
}
h3{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.prod-body{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px white;
    padding: 0.5em;
    margin:  0.8em 0;
    
}
.prod-body p{
    color: #FFA114;
}
.product-img{
    width: 100%;
}
.product-img1{
    width: 50%;
}


